html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    /* box-sizing: border-box; */
    /* text-transform: ; */
}

body {
    /* min-height: 100vh; */
    /* width: 100%; */
    background-color: #FFFFFF;
    display: block;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .companyimg {
    font-size: 25px;
    font-weight: bold;
    color: rgb(36, 36, 36);
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    color: rgb(112, 109, 109);
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    padding: 20px;
    display: block;
}

header .navbar ul li a:hover {
    color: #e0e0e0;
    background: rgb(112, 109, 109);
}

header .navbar ul li ul {
    background: #FFFFFF;
    position: absolute;
    left: 0;
    width: 220px;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    color: #413f3f;
    background: #FFFFFF;
}

header .navbar ul li:hover > ul {
    display: initial;
}

/* bagian gambar yg di slide */
.slide-package {
    position: relative;
    width: 999px;
    height: 750px;
}

.slide-package .slide {
    width: 100%;
    height: calc(100% - 100px);
    position: relative;
    overflow: hidden;
}

.slide-package .slide img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.slide-package .slide img:not(.show) {
    top: 0;
    left: -100%;
}

/* tombol next dan prev  */
span.next, span.previous {
    position: absolute;
    color: #FFFFFF;
    padding: 14px;
    transform: translateY(-50%);
    top: 50%;
    font-size: 24px;
    font-weight: bold;
    transition: 0.7s;
    border-radius: 2px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.next {
    right: 20px;
}

span.previous {
    left: 20px;
}

span.next, span.previous {
    background: transparent;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

span.next:hover, span.previous:hover {
    color: rgb(36, 36, 36);
    background-color: #FFFFFF;
    border-radius: 50%;
}

.circle-package {
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.circle-package .circle {
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}


@keyframes next1 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes next2 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}


/* 3 content  */
.package {
    padding: 85px 9%;
    padding-bottom: 100px;
}

.package .heading {
    text-align: center;
    padding-bottom: 15px;
    color: rgb(36, 36, 36);
    font-size: 23px;
}

.package .bar-package {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
}

/* bar for 3 contents */
.package .bar-package .bar1 {
    color: #FFFFFF;
    background: #df7c7c;
    text-align: center;
    padding: 30px 20px;
    width: 300px;
    height: 160px;
    margin-right: 60;
}

.package .bar-package .bar2 {
    color: #FFFFFF;
    background: #7aaa7f;
    text-align: center;
    padding: 30px 20px;
    width: 300px;
    height: 160px;
}

.package .bar-package .bar3 {
    color: #FFFFFF;
    background: #6ea5c7;
    text-align: center;
    padding: 30px 20px;
    width: 300px;
    height: 160px;
}

.package .bar-package .bar1 img {
    height: 25px;
    margin-bottom: 10px;
}

.package .bar-package .bar2 img {
    height: 25px;
    margin-bottom: 10px;
}

.package .bar-package .bar3 img {
    height: 25px;
    margin-bottom: 10px;
}

.package .bar-package .bar1 p {
    margin-top: 25px;
}

.package .bar-package .bar2 p {
    margin-top: 25px;
}

.package .bar-package .bar3 p {
    margin-top: 25px;
}

.form {
    padding: 85px 9%;
    padding-bottom: 100px;
}

.form .heading {
    text-align: center;
    padding-bottom: 1px;
    color: rgb(36, 36, 36);
    font-size: 23px;
    margin-bottom: 1px;
}

.bar {
    position: relative;
    grid-area: bar;
    padding: 40px;
    height: 300px;
    width: 500px;
    margin: 0 auto;
}

/* Form */
.formBox {
    position: relative;
    width: 100%;
}

.insertBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.formBox .row100 .insertBox {
    width: 100%;
}

.insertBox input {
    padding: 5px;
    outline: none;
    border: 1px solid rgb(37, 37, 37);
}

.insertBox span .Message{
    padding: 50px;
    outline: none;
    border: 1px solid rgb(37, 37, 37);;
}

.inputarea textarea {
    padding: 50px;
    font-size: 1.1em;
    margin-top: 40px;
    outline: none;
    border: 1px solid rgb(37, 37, 37);;
}

.insertBox input[type="submit"] {
    background: #6ea5c7;
    color: #FFFFFF;
    border: none;
    height: 35px;
}